appdirs==1.4.4
certifi==2020.12.5
click==7.1.2
cycler==0.10.0
distlib==0.3.1
dnspython==1.16.0
email-validator==1.2.1
filelock==3.0.12
Flask==1.1.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet==1.1.2
idna==3.3
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.1
numpy==1.19.1
Pillow==9.0.1
pykerberos==1.2.1
pymongo==3.11.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-snappy==0.6.0
six==1.15.0
SQLAlchemy==1.4.31
virtualenv==20.4.2
Werkzeug==1.0.1
WTForms==3.0.1
