<!DOCTYPE html>
<html>
    <head>
        <!-- load bootstrap -->
        <meta charset="utf-8" />
        <meta nam="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />
        <title>{% block title %} Home {% endblock %}</title>
    </head>

    <body>
        <!-- create navigation bar menu -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- expand nav bar with buttons -->
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar"
            >
                <!-- add an icon for the nav bar button -->
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- define items in nav bar -->
            <!-- only show certain links if the User is signed in, is authenticated -->
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" id="home" href="/">Home</a>
                        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" id="login" href="/login">Login</a>
                        <a class="nav-item nav-link" id="register" href="/register">Register</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <!-- Flash messages below for each webpage that inherits from this base html file, template -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                <!-- msg flashing for error messages ( 'alert-danger' )-->
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                </div>
                {% else %}
                <!-- msg flashing for success messages ( 'alert-danger' )-->
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- webpage content here -->
        <div class="container">
            {% block content %} {% endblock %}
        </div>

        <!-- load scripts for nav bar interactivity -->
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
    </body>
</html>