
{% extends "base.html" %}

{% block title %} 
  Create New Group
{% endblock %}

{% block content %} 
<div class="content-section fade-container">
    <form class="card p-4 bg-light" method="POST">
        <legend class="main-header">Create New Group!</legend>

        <div class="form-group col-title">
            <label for="groupanme">Group Name</label>
            <input type="text" id="groupname" name="groupname" class="form-control" maxlength="30"/>
        </div>

        <div class="form-group row">
            <!-- ADD GROUP BTN -->
            <button type="submit" class="btn custom-btn col-md-4" name="action" value="New Group">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Add Group
            </button>
            <!-- RETURN HOME -->
            <button type="submit" class="btn custom-btn col-md-4" name="action" value="Return Home">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                </svg>
                Return Home
            </button>
        </div>

    </form>
</div>
{% endblock %}