{% extends "base.html" %}

{% block title %} 
  Home Page 
{% endblock %}

{% block content %} 
  <h1 style="text-align: center"> Tasks Helper </h1>

  <style>
      p {text-align: center;}
  </style>

  <p> Welcome back, {{ user.first_name }}! </p>

  {% if user.tasks|length < 1 %}
    <h4 style="text-align: center"> There are no tasks. Create one below! </h4>
  {% else %}
    <table class="table">
      <thead>
      <tr> 
        <th> Task </th>
        <th> Due Date </th>
        <th> Completed </th>
        <th> Actions </th>
      </tr>
      </thead>  
      <tbody>
        {% for task in user.tasks %}
          <tr>
            <td> {{ task.content }} </td>
            <td> {{ task.due_date }} </td>
            <td> 
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="completed">
            </td> 
            <td> 
              <a href="/delete/{{ task.id }}"> Delete </a>
              <br>
              <a href="/update/{{ task.id }}"> Update </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <br>
  <hr>

  <form method="POST">
    <label for="content"> Task Details: </label>
    <textarea 
      id="content" 
      name="content" 
      class="form-control">
    </textarea>
    <br>
    <label for="due-date"> Due Date: </label>
    <br>
    <input 
      type="date" 
      id="due_date" 
      name="due_date">
    <br>
    <br>
    <div>
      <button type="submit" class="btn btn-primary">Add Task</button>
    </div>
    <br>
    <br>
  </form>

{% endblock %}