{% extends "base.html" %}

{% block title %} 
  Home Page 
{% endblock %}

{% block content %} 
  <br>
  <h3 style="text-align: center"> Tasks Helper </h3>

  <p style="text-align:center"> Welcome back, {{ user.first_name }}! </p>

  {% if tasks|length < 1 %}
    <h6 style="text-align: center"> There are no tasks. Create one below! </h6>
  {% else %}

    <table id="tasksTable" class="table table-striped table-hover">
      <thead class="thead-dark">
      <tr> 
        <th> Task </th>
        <th> Due Date </th>
        <th> Status </th>
        <th> Actions </th>
      </tr>
      </thead>  
      <tbody>
        {% for task in tasks %}
          <tr>
            <td> {{ task.content }} </td>
            <td>
              {% if task.due_date != "None" and task.time %}
                {{ task.due_date }} at {{ task.time }}
              {% else %}
                {{ task.due_date }}
              {% endif %}
            </td>
            <td>
              {% if task.status == "Complete" %}
                <p class="text-success">{{ task.status }}</p>
              {% else %}
                <p class="text-secondary">{{ task.status }}</p>
              {% endif %}
            </td>
            <td> 
              <a href="/delete/{{ task.id }}"> Delete </a>
              <br>
              <a href="/update/{{ task.id }}"> Update </a>
              <br>
              <a href="/change-status/{{ task.id }}"> Change Status </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <br>

  <form method="POST">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th style="text-align:right" scope="col">Task Details:</th>
        <td>
          <textarea id="content" name="content" class="form-control"></textarea>
        </td>
      </tr>
      <tr>
        <th style="text-align:right" scope="col">(Optional) Due Date:</th>
        <td>
          <input 
            type="date" 
            id="due_date" 
            name="due_date">
        </td>
      </tr>
      <tr>
        <th style="text-align:right" scope="col">(Optional) Time:</th>
        <td>
          <input
          type="time"
          id="time"
          name="time">
        </td>
      </tr>
    </table>

    <br>
    
    <div>
      <button type="submit" class="btn btn-outline-primary">Add Task</button>
    </div>
  
    <br>
    <br>
  </form>

{% endblock %}
