{% extends "base.html" %}

{% block title %} 
  Home Page 
{% endblock %}

{% block content %} 
  <br>
  <legend class="border-bottom mb-4">Welcome Back, {{ user.first_name }}!</legend>

  {% if tasks|length < 1 %}
    <p> There are no tasks! </p>
  {% else %}
    <table id="tasksTable" class="border table table-striped table-hover">
      <thead class="thead-light">
      <tr> 
        <th> Task </th>
        <th> Due Date </th>
        <th> Status </th>
        <th> Actions </th>
      </tr>
      </thead>  
      <tbody>
        {% for task in tasks %}
          <tr>
            <td> {{ task.content }} </td>
            <td>
              {% if task.due_date != "None" and task.time %}
                {{ task.due_date }} at {{ task.time }}
              {% else %}
                {{ task.due_date }}
              {% endif %}
            </td>
            <td>
              {% if task.status == "Completed" %}
                <p class="text-success">{{ task.status }}</p>
              {% elif task.status == "In Progress" %}
                <p class="text-primary">{{ task.status }}</p>
              {% elif task.status == "Cancelled" %}
                <p class="text-danger">{{ task.status }}</p>
              {% else %}
                <!-- Status: Not Yet Started -->
                <p class="text-secondary">{{ task.status }}</p>
              {% endif %}
            </td>
            <td> 
              <a href="/delete/{{ task.id }}"> Delete </a>
              <br>
              <a href="/update/{{ task.id }}"> Update </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <br>

  <div class="content-section">
    <form class="card p-3 bg-light" method="POST">
      <legend class="border-bottom mb-4">Create New Task</legend>
      <div class="form-group">
        <label for="content"><h6>Task Details:</h6></label>
        <textarea id="content" name="content" class="form-control"></textarea>
      </div>

      <div class="row">
        <div class="col">
          <label for="due_date"><h6>Due Date:</h6></label>
          <br>
          <input type="date" id="due_date" name="due_date">
        </div>
        <div class="col">
          <label for="time"><h6>Scheduled Time:</h6></label>
          <br>
          <input type="time" id="time" name="time">
        </div>
      </div>

      <br>
      <br>

      <div>
        <button 
          type="submit" 
          class="btn btn-primary" 
          name="action" 
          value="Add Task"
        >Add Task</button>
  
        <button 
          type="submit" 
          class="btn btn-outline-primary" 
          name="action" 
          value="Hide Completed Tasks"
        >Hide Completed Tasks</button>
  
        <button 
          type="submit" 
          class="btn btn-outline-danger" 
          name="action" 
          value="Clean Up"
        >Clean Up</button>

      </div>
    </form>
  </div>
  <br>
  <br>
{% endblock %}
