{% extends "base.html" %}

{% block title %} Events Assistant | Login {% endblock %}

{% block content %} 
<br>
<br>
<div class="content-section">
    <form class="card p-4 bg-light" method="POST">
        <fieldset class="form-group"> 
            <legend class="main-header">Login</legend>
            <div class="form-group">
                <label for="username"> Username </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="username" 
                    name="username"
                    placeholder="Enter username" 
                />
            </div>
            <div class="form-group">
                <label for="password"> Password </label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    name="password"
                    placeholder="Enter password" 
                />
            </div>
        </fieldset>
        <div class="form-group row">
            <button type="submit" class="btn col-sm-12 col-md-4 col-lg-3">Login</button>
        </div>
    </form>
    <br>
    <div class="bottom-form-div">
        <br>
        <span>
            Don't have an account?
            <a class="login-link" href="{{ url_for('auth.register') }}">Create Account!</a>
        </span>
    </div>
</div>
{% endblock %}