{% extends "base.html" %}

{% block title %} 
  Update Task 
{% endblock %}

{% block content %} 
  <br>

  <div class="content-section">
    <form class="card p-3 bg-light" method="POST">
        <fieldset class="form-group"> 
            <legend class="border-bottom mb-4">Update Task Below</legend>
            <div class="form-group">
              <label for="content"> Task Details: </label>
              <textarea 
                id="content" 
                name="content" 
                class="form-control"
              >{{task.content}}</textarea>
            </div>
            <div class="form-group">
              <label for="due_date"> (Current) Due Date: {{task.due_date}}
                {% if task.time|length > 1%}
                  at {{task.time}}
                {% endif %}
              </label>
              <br>
              <input type="date" id="due_date" name="due_date">
            </div>
            <div class="form-group">
              <label for="time">Scheduled Time:</label>
              <br>
              <input type="time" id="time" name="time">
            </div>
            <div class="form-group">
              <label for="status">Update Status:</label>
              <br>
              <select name="taskStatus" aria-label="Select/Dropdown menu">
                <option value="Cancelled">Cancelled</option>
                <option value="Not Yet Started" selected>Not Yet Started</option>
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
              </select>
            </div>
        </fieldset>
        <div>
          <button 
            type="submit" 
            class="btn btn-primary" 
            name="action"
            value="Update"
          >Update Task</button>
          <button 
            type="submit" 
            class="btn btn-outline-primary" 
            name="action"
            value="Return Home"
          >Return Home</button>
        </div>
    </form>
  </div>
{% endblock %}