{% extends "base.html" %}

{% block title %} 
  Update Task 
{% endblock %}

{% block content %} 
  <h1 style="text-align: center"> Tasks Helper </h1>

  <style>
      p {text-align: center;}
  </style>

  <p> Update the task below! </p>

  <form method="POST">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Task Details:</th>
        <td>
          <textarea id="content" name="content" class="form-control">{{task.content}}</textarea>
        </td>
      </tr>
      <tr>
        <th scope="col">
          (Current) Due Date: {{task.due_date}}
          {% if task.time|length > 1%}
            at {{task.time}}
          {% endif %}
        </th>
        <td>
          <input 
            type="date" 
            id="due_date" 
            name="due_date">
        </td>
      </tr>
      <tr>
        <th scope="col">Update Time:</th>
        <td>
          <input
          type="time"
          id="time"
          name="time">
        </td>
      </tr>
    </table>

    <br>
    <br>
    
    <div>
      <button type="submit" class="btn btn-primary">Update Task</button>
    </div>
    
    <br>
    <br>
    
  </form>

{% endblock %}