/* ==== import font ===== */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

.bookmarked-group {
    background-color: lightyellow;
}

.unbookedmark-group {
    background-color: transparent;
}

* {
    font-family: 'Pangolin', cursive;
}

.alert {
    font-size: 1.2em;
}

.content-section {
    margin: 5%;
}

.form-group {
    margin: 20px;
}

.bottom-form-div {
    border-top: 1px dashed black;
    
}

.col-title, .btn, .button, #content, .tasks-text, #due_date, #time, #curr_status {
    font-size: 1.2em;
}

/* TABLE OF EVENTS */
#tasksTable {
    margin-left: 2%;
    margin-right: 2%;
}

.header-row {
    font-size: 1.3em;
    font-weight: bold;
}

.table-row {
    border-bottom: 1px solid black;
}

.table-row:last-child {
    border-bottom: none;
}

.content-text {
    font-size: 1.1em;
}

.table-actions {
    display: inline-flex;
}

/* NAVBAR / HEADER */
.navbar-container {
    background-color: rgba(0,0,0,0.9);
    text-align: center;
}

.navbar-nav a, .navbar-toggler-icon {
    color: white;
    font-family: 'Yomogi', cursive;
}

.nav-item {
    margin-left: 10%;
    font-size: 1.3em;
}

.title-header {
    font-size: 1.5em;
}

.title-header a {
    text-decoration: none;
    color: white;
    font-family: 'Yomogi', cursive;
}

.main-header {
    border-bottom: 1px dashed black;
}

/* BUTTONS */
.btn {
    background-color: rgba(0,0,0,0.9);
    color: white;
    font-family: 'Yomogi', cursive;
    padding-bottom: 10px;
    margin-right: 8px;
}

.btn:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.navbar-nav a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.lower-page-btn, .dropdown-btn {
    margin-left: 10px;
}

/* STATUS BADGES */
.badge {
    padding: 9px;
    font-size: .9em;
}

.date-badge {
    background-color: black;
    color: white;
    font-family: 'Yomogi', cursive;
    margin-right: 50px;
    font-size: 1em;
}

.completed-badge {
    background-color: rgb(197, 224, 200);
}

.progress-badge {
    background-color: rgb(250, 237, 190);
}

.cancelled-badge {
    background-color: rgb(163, 162, 162);
}

.todo-badge {
    background-color: rgb(237, 200, 194);
}

/* SEARCH BAR CONTAINER */
.searchbar {
    margin-top: 50px;
}

/* LOGIN / REGISTER PAGE ELEMENTS */
.login-link {
    margin-left: 50px;
}

/* UPDATE / CREATE PAGE ELEMENTS */
.date-time-container {
    margin-top: 20px;
}